[Unit]
Description=nginx - high performance web server
Documentation=https://nginx.org/en/docs/
After=network-online.target remote-fs.target nss-lookup.target bind.service
Wants=network-online.target

[Service]
Type=forking
PIDFile=/opt/nginx/var/run/nginx.pid
ExecStartPre=/opt/nginx/bin/nginx -t -c /opt/nginx/conf/nginx.conf
ExecStart=/opt/nginx/bin/nginx -c /opt/nginx/conf/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
